header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header_author{
  display: flex;
  align-items: center;
}

.header_menu{
  display: block;
}

.header_list{
  display: none;
}

.header_list li{
  list-style: none;
}

.header_list li button{
  border-radius: 2px;
  padding: .5rem;
  background-color: #232323;
  border: none;
  color: #fff;
  cursor: pointer;
}

.header_list li button:hover{
  background-color: #7a7878;
}

.menuHeght{
  padding: 1rem;
}
