header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  padding: 1rem;
}

.header_author{
  display: flex;
  align-items: center;
}

.header_author img{
  width: auto;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
}

.header_list{
  display: flex;
  align-items: center;
}

.header_list li{
  list-style: none;
}

.header_list li button{
  border-radius: 2px;
  padding: .5rem;
  background-color: #232323;
  border: none;
  color: #fff;
  cursor: pointer;
}

.header_list li button:hover{
  background-color: #7a7878;
}
