<app-header
  (about)="scroll(body_about)"
  (experience)="scroll(body_experience)"
  (projects)="scroll(body_projects)"
></app-header>

<app-banner></app-banner>

<section class="body_page">
  <div id="body_about" #body_about>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus a eligendi quisquam cum asperiores quibusdam. Corrupti ipsam a, omnis assumenda labore ea explicabo, recusandae fugiat repudiandae, odit distinctio quas laborum?</p>
  </div>
  <hr>
  <div id="body_experience" #body_experience>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus a eligendi quisquam cum asperiores quibusdam. Corrupti ipsam a, omnis assumenda labore ea explicabo, recusandae fugiat repudiandae, odit distinctio quas laborum?</p>
  </div>
  <hr>
  <div id="body_projects" #body_projects>
    <app-card
      cover="assets/images/crud-angular.png"
      title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo"
      (card)="clickCard()"
    ></app-card>
  </div>

  <hr>
</section>

<footer style="display: flex; align-items: center; flex-direction: column;">

  <div style="display: flex; margin: .6rem 0 1rem 0;">
    <img style="border-radius: 50%; background-color: #fff; width: 35px; margin-right: .5rem;" src="assets/icons/social.png" alt="">

    <img style="border-radius: 50%; background-color: #fff; width: 35px;" src="assets/icons/social2.png" alt="">
  </div>

  <span>© 2023 Wanderson Ramos</span>
</footer>
