<app-header
  (about)="scroll(body_about)"
  (experience)="scroll(body_experience)"
  (projects)="scroll(body_projects)"
  (skills)="scroll(body_skills)"
  (contact)="scroll(body_contact)"
></app-header>

<app-banner></app-banner>

<section class="body_page">
  <div #body_about>
    <app-about #body_about
      text="Olá, meu nome é Wanderson e eu sou desenvolvedor back e front end e venho me especializando em criar sites web com foco em usabilidade e simplicidade."
    ></app-about>
  </div>
  <hr>

  <div id="body_skills" #body_skills>
    <h1>Habilidades</h1>
    <app-card
      cover="assets/images/angular.png"
      title="Angular"
      text="Framework de código aberto desenvolvido pelo Google para a criação de aplicativos da web dinâmicos e interativos. Ele utiliza uma abordagem orientada a componentes para a construção de interfaces."
    ></app-card>

    <app-card
      cover="assets/images/html5.png"
      title="HTML"
    ></app-card>

    <app-card
      cover="assets/images/css.png"
      title="CSS"
    ></app-card>

    <app-card
      cover="assets/images/java.png"
      title="Java"
    ></app-card>

  </div>
  <hr>

  <div id="body_experience" #body_experience>
    <h1>Experiência</h1>
    <p>Eu trabalhei durante um ano no TST principalmente no sistema SEI. O SEI é um sistema interno usado em vários órgão públicos para trâmite de processos administrativos .Auxiliando na criação de formulários para integração no sistema. Também exerce função de administrador do sistema, cadastrando e arquivando processos enviados.</p><br>
    <p>Também era responsável pela manutenção e atualização dos sites envolvendo o sistema.</p>
  </div>
  <hr>
  <div id="body_projects" #body_projects>
    <h1>Projetos</h1>
    <app-card
      cover="assets/images/crud-angular.png"
      title="Plataforma de postagem de notícias"
      text="Um site feito com angular, spring e postgresql que permite o registro e acesso a notícias."
      (card)="clickCard()"
    ></app-card>
  </div>
  <hr>


</section>

<footer style="display: flex; align-items: center; flex-direction: column; margin: 1rem 0;" #body_contact>

  <div style="display: flex; margin: .6rem 0 1rem 0;">
    <img style="border-radius: 50%; background-color: #fff; width: 35px; margin-right: .5rem;" src="assets/icons/social.png" alt="">

    <img style="border-radius: 50%; background-color: #fff; width: 35px;" src="assets/icons/social2.png" alt="">
  </div>

  <span>© 2023 Wanderson Ramos</span>
</footer>
